{% extends 'main/base.html' %}
{% load static %}

{% block title %}<span data-i18n="school_page_title">Школа - AI-Документооборот</span>{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}
{% block content %}
<div class="content-area">
            <h1 data-i18n="edit_school">Редактирование школы</h1>
            
            <form method="post" class="mt-4">
                {% csrf_token %}
                {{form.as_p}}
                <div class="d-flex gap-2">
                    <button type="submit" class="btn btn-primary" data-i18n="save">Сохранить</button>
                    <a href="{% url 'school' %}" class="btn btn-secondary" data-i18n="cancel">Отмена</a>
                </div>
            </form>
        
</div>
{% endblock %}